target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties 
.mvn/wrapper/maven-wrapper.jar
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/replstate.xml
out/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.class 
*.log
*.ctxt
.mtj.tmp/